# Add files here to ignore them from prettier formatting
/pnpm-lock.yaml
/libs/payload/src/migrations
/libs/payload/src/payload-types.ts
/dist
/coverage
/apps/nextjs-app/.next
/apps/nextjs-app/src/app/(payload)
!/apps/nextjs-app/src/app/(payload)/custom.scss
/.nx/cache
/.nx/workspace-data
